@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="..." class="carouselitem" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="carouselitem" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="carouselitem" alt="...">
    </div>
  </div>
</div>
